*, :before, :after {
  box-sizing: border-box;
}
body {
  background: #dddddd;
}

.isotope-wrapper {
  position: relative;
  width: 100%;
  max-width: 1366px;
  min-width: 480px;
  margin: auto;
}

.isotope-box {
  position: relative;
  width: 100%;
	height: 100%;
}

.isotope-item {
  position: relative;
  width: 31%;
  margin: 1%;
}

.isotope-item:before {
  content: '';
  display: inline-block;
  padding-top: 60%;
}

.item-portrait:before {
  padding-top: 165%;
}

.isotope-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.lazyload {
  background: #f7f7f7;
}

.lazyloading {
  background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}